<!DOCTYPE html>
<html>
<head>
 <title>SHOW LIST</title>
</head>
<body>
    <ul>
       <% books.forEach(book=>{ %> 
    
    <li>
        <p>Title: <%=book.volumeInfo.title %></p>
        <p>Authors: <%=book.volumeInfo.authors %></p>
        <p>Description: <%=book.volumeInfo.description %></p>
    </li>
  <%  }) %>
    </ul>





</body>
</html>