<!DOCTYPE html>
<html>
    <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <form action="/search" method="POST">
      <div class="instruction">Search by Title or Author</div>
      <input class="input" type="text" name="searchkey" placeholder="Enter a title or author"/>
      <div class="container"><label>Title<input class="radio first" type="radio" name="search" value="title"/></label></div>
      <div class="container"><label>Author<input class="radio" type="radio" name="search" value="author"/></label></div>
      <button>Search the Google Books API</button>
    </form>
    <%- include('../layout/footer') %>
  </body>
</html>
