

<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
</head>
<body>
    
<form action='/search' method="GET" >
<label>Enter a title or author
<input type='text' name='search'>
</label>
<label>TITLE
<input type='radio' name='search' value="title"> 
</label>
<label>AUTHOR
    <input type='radio' name='search' value="author"> 
    </label>

    <button>Search the Google Books API</button>
</form>

</body>
</html>