<!DOCTYPE html>
<html>
<%- include('.././layout/head') %>
<body>
    <%- include('.././layout/header') %>
  <form action='/searchapi' method="POST">
    <div id="instruction">
      Search by Title or Author
      </div>
    <label>Enter a title or author
      <input type='text' name='searchkey'>
    </label>
    <label>TITLE
      <input type='radio' name='search' value="title">
    </label>
    <label>AUTHOR
      <input type='radio' name='search' value="author">
    </label>

    <button>Search the Google Books API</button>
  </form>
  <%- include('.././layout/footer') %>
</body>

</html>