<!DOCTYPE html>
<html>
<%- include('.././layout/head') %>
<body>
    <%- include('.././layout/header') %>
  <form action='/searchapi' method="POST">
    <div class="instruction">Search by Title or Author</div>
      <input type='text' name='searchkey' placeholder="Enter a title or author">
    <br>
      <label class="title">TITLE
      <input class="radio" type='radio' name='search' value="title">
    </label>
    <label class="title">AUTHOR
      <input class="radio" type='radio' name='search' value="author">
    </label>

    <button class="search">Search the Google Books API</button>
  </form>
  <%- include('.././layout/footer') %>
</body>
</html>