<header>
  <h1>Best Books!</h1>
    <ul class="nav">
      <li><img id="menu-button" src="https://via.placeholder.com/25"></li>
        <div id="hide-nav">
          <li ><a href="/books">Home</a></li>
          <li><a href="/search">Search</a></li>
        </div>
      </ul>
</header>