<header>
  <h1>Best Books!</h1>
    <div class="container">
      <img class="image" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F21thirteen.com%2Fwp-content%2Fuploads%2F2016%2F03%2Fhamburger-menu.jpg&f=1">
        <div class="overlay">
          <ul class="ul">
          <li><a class="links" href="/books">Home</a></li>
          <li><a class="links" href="/search">Search</a></li>
        </ul>
      </div>
</header>